.flex-row-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submit-btn{
    height: 29px;
    width: 130px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(255, 112, 136);
    color: white;
    background-color: rgb(255, 140, 159);
    letter-spacing: 0.7px;
    user-select: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#submit-btn:hover{
    background-color: rgb(255, 193, 203);
    color: black;
}

#submit-btn:focus{
    outline: none;
}

.inputs{
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    color: white;
    border: 2px solid rgb(255, 112, 136);
    border-radius: 15px;
    text-indent: 5px;
    background-color: rgb(255, 140, 159);
    width: 270px;
    margin-bottom: 10px;
}

.inputs:focus{
    outline: none;
}

.labels{
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    color: white;
}

#remaining-ticket-classes{
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    color: white;
    border: 2px solid rgb(255, 112, 136);
    border-radius: 15px;
    text-indent: 5px;
    background-color: rgb(255, 140, 159);
    width: 270px;
    height: 19px;
    margin-bottom: 10px;
}

#price{
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    color: white;
    border: 2px solid rgb(255, 112, 136);
    border-radius: 15px;
    text-indent: 5px;
    background-color: rgb(255, 140, 159);
    width: 270px;
    height: 19px;
    margin-bottom: 10px;
}

.ticket-options{
    position: absolute;
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    color: white;
    border: 2px solid rgb(255, 112, 136);
    border-radius: 15px;
    text-indent: 5px;
    background-color: rgb(255, 140, 159);
    width: 270px;
    height: 19px;
    margin-bottom: 10px;
    display: none;
}